ul {
  list-style: none;
  padding: 0px;
}
button {
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border-color: #fff;
  box-shadow: inset 0 -3em 3em rgba(9, 15, 205, 0.8), 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.hidden {
  display: none;
  visibility: hidden;
}
.navigation {
  display: flex;
  gap: 10px;
}
.current-date {
  width: 25%;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border-color: #fff;
  box-shadow: inset 0 -3em 3em rgba(9, 15, 205, 0.8), 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
.timer-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.timer {
  display: flex;
  gap: 15px;
}
.timer-value {
  width: 100px;
  text-align: right;
  padding: 5px;

  border-color: #fff;
  box-shadow: inset 0 -3em 3em lightgray, 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
/* NEWS */
.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
.pagination-btn_move {
  width: 30px;
}
.pagination-btns {
  display: flex;
  gap: 3px;
}
.pagination-btn {
  width: 30px;
}

.news-input {
  border-radius: 10px;
  border-color: rgba(9, 15, 205, 0.8);
  padding: 5px;
  margin-bottom: 10px;
}
.news-list {
  padding: 10px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.news-item {
  padding: 5px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  border-color: #fff;
  box-shadow: inset 0 -3em 3em rgba(9, 15, 205, 0.8), 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.news-icon {
  height: 70%;
}
.item-text-box {
  color: white;
}
.news-show {
  border: 20px groove rgba(9, 15, 205, 0.8);
  background: #cac6c6;
}
.news-label {
  color: rgba(9, 15, 205, 0.8);
}
.news-loader {
  display: none;
  text-align: center;
}
.search-result {
  display: none;
}
.show {
  display: block;
}

/* TO-DO */

.link {
  color: orange;
  font-weight: bold;
  font-size: 24px;
}

.todo-form {
  display: flex;
  justify-content: space-between;
  padding: 10px 25px;
  box-shadow: inset 0 -3em 3em #80cbc4, 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.todo-btn {
  box-shadow: inset 0 -3em 3em #80cbc4, 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.todo-input {
  border-radius: 10px;
  border-color: #fff;
  padding: 5px 10px;
}
.todo-text {
  font-size: 20px;
  color: #fff;
}
.modal {
  background-color: #80cbc4;
  padding: 50px;
  border-radius: 5px;
}
.modal-btn {
  width: 100px;
  color: #fff;
  box-shadow: inset 0 -3em 3em #eb240a, 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style: none;
  padding: 10px;
  margin: 0;
}
.todo-item {
  display: flex;
  justify-content: space-between;
  box-shadow: inset 0 -3em 3em #80cbc4, 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 10px;
}
.success {
  color: #fff;
  background-color: #28a745;
}

.success:hover {
  background-color: #218838;
}

.success:active {
  background-color: #1e7e34;
}
.buttons {
  display: flex;
  gap: 10px;
}
.danger-btn {
  width: 50px;
  color: #fff;
  box-shadow: inset 0 -3em 3em #eb240a, 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.modal-btn:hover,
.danger-btn:hover {
  background-color: #c82333;
}

.modal-btn:active,
.danger-btn:active {
  background-color: #bd2130;
}

/* GALLERY-CATS */
.select-box {
  display: flex;
  gap: 10px;
}
.select_color {
  background-color: #aeeff2;
}

.cat-info {
  padding: 5px;
  max-width: 1170px;
  display: flex;
  gap: 10px;
  margin-top: 10px;
  box-shadow: inset 0 -3em 3em #377dda, 0 0 0 2px #fff,
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}
.info-img {
  max-width: 500px;
  /* height: 500px; */
}
.temperamrnt {
  font-weight: bold;
}
.loader-icon {
  width: 48px;
  height: 48px;
  border: 3px dotted #fff;
  border-style: solid solid dotted dotted;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 2s linear infinite;
}
.loader-icon::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 3px dotted #ff3d00;
  border-style: solid solid dotted;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  animation: rotationBack 1s linear infinite;
  transform-origin: center center;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.error {
  color: #eb240a;
}

@media screen and (max-width: 600px) {
  .navigation {
    flex-wrap: wrap;
  }
  .news-item {
    width: 100%;
  }

  .news-list {
    flex-direction: column;
  }
  .info-img {
    width: 280px;
    margin: 0 auto;
  }
  .cat-info {
    font-size: 12px;
    flex-direction: column;
  }
}
